:root {
    --body-color: #171229;
    --text-color: rgb(241, 241, 241);
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html, body {
    box-sizing: border-box;
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: 'Patrick Hand', cursive;
    letter-spacing: .1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0;
}

nav {
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1030;
    margin-top: 40px;
}

nav ul {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);

    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    padding: 0 30px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgba(221, 221, 221, 0.89);
    font-size: 16px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
}

nav ul li a.active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}

header {
    height: 100vh;
    background: #ad5389;
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
    background: linear-gradient(to right, #3c1053, #ad5389);
    font-size: 18px;
    position: relative;
}

.jumbotron {
    position: relative;
    top: 30vh;
    padding: 2.5em;
    text-align: center;
    color: var(--text-color);
}

.jumbotron h1 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 4vmax;
    font-weight: bold;
    overflow: hidden;
}
  
.jumbotron h1 .hi {
    display: inline-block;
}
  
.jumbotron h1 .text {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}
  
.jumbotron h1 .box {
    position: absolute;
    bottom: 0;
    display: inline-block;
    background-color: black;
    height: 1vw;
}

.custom-shape-divider-bottom-1608108536 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1608108536 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 136px;
}

.custom-shape-divider-bottom-1608108536 .shape-fill {
    fill: var(--body-color);
}

section {
    font-size: large;
    margin-top: 5em;
}

section > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3em;
}

section h1 {
    color: #f8f9fa;
}

section hr {
    margin-top: .5em;
    border: 2px solid #972599;
    width: 25%;
}

section > div:nth-child(2) {
    letter-spacing: 2px;
    line-height: 2;
    font-weight: 400;
}

section#about div.about__content {
    overflow: hidden;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2em;
}

section#about div.about__content div.image {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
}

section#about div.about__content div.description {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: left;
}

section#about div.about__content div.description ul {
    margin-left: 40px;
}

section#about .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#about .image {
    visibility: hidden;
    position: relative;
    max-width: 500px;
    overflow: hidden;
}

section#about .profile__image {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
    width: 450px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid white;
    padding: .25rem;
}

section#about .profile__image {
    object-fit: cover;
    transform-origin: left;
}

section#about div.description table {
    margin-top: 1em;
}

section#about div.description table td,
section#about div.description table th {
    padding: .2em 1em .5em 0;
    vertical-align: top;
}

section#about div.description table th {
    text-align: left;
}

section#about div.about__content div.education > div:first-child, 
section#about div.about__content div.experience > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 1em;
}

section#about div.about__content div.education ul,
section#about div.about__content div.experience ul {
    font-size: 18px;
    display: flex; 
    align-items: center; 
    flex-direction: column;
    list-style: none;
}

section#about div.about__content div.education ul li,
section#about div.about__content div.experience ul li {
    position: relative;
    padding: .5em;
    margin-bottom: 1em;
    width: 100%;
    background-color: var(--body-color);
    padding: 0;
}

section#about div.about__content div.education ul li > div,
section#about div.about__content div.experience ul li > div {
    background-color: #171229; 
    padding: 9px; 
    box-sizing: border-box;
}


section#about div.about__content div.education ul li::before,
section#about div.about__content div.education ul li::after,
section#about div.about__content div.experience ul li::before,
section#about div.about__content div.experience ul li::after 
{
    filter: blur(2px);
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(235deg, #43d8c9, #95389e);
    z-index: -1;
}

section#about div.about__content div.education ul li p {
    font-size: 1em;
}

section#skills div.skills-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

section#skills div.skills-logo div.slider {
    width: 85%;
    height: 100px;
    position: relative;
    background: transparent;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.4);
    display: flex;
    overflow: hidden;
}

section#skills div.skills-logo div.slider div.slide {
    display: flex;
    align-items: center;
    animation: slideshow 10s linear infinite;
}

section#skills div.skills-logo div.slider div.slide img {
    height: 70px;
    padding: 0 30px 0 30px;
}

@keyframes slideshow {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}

section#skills div.skills-logo div.slider::before, 
section#skills div.skills-logo div.slider::after {
    height: 100px;
    width: 20%;
    position: absolute;
    content: "";
    background: linear-gradient(to right, var(--body-color) 0%, rgba(255,255,255,0) 100%);
    z-index: 2;
}

section#skills div.skills-logo div.slider::before {
    left: 0;
    top: 0;
}

section#skills div.skills-logo div.slider::after {
    right:0;
    top:0;
    transform: rotateZ(180deg);
}

section#portfolio div.portfolio-detail,
section#sertifikat div.sertifikat-detail {
    padding: 0 1em 5em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section#portfolio div.detail,
section#sertifikat div.detail {
    margin: 1em;
    flex-basis: 500px;
}

section#portfolio div.detail ul {
    /* display: flex;
    justify-content: space-around; */
    margin-left: 40px;
}

section#portfolio div.detail iframe {
    width: 100%;
    height: 265px;
    overflow: hidden;
    display: block;
}

section#portfolio div.detail a {
    text-decoration: none;
    color: inherit;
}

section#sertifikat div.sertifikat-detail div.detail {
    display: flex;
    flex-direction: column;
}

section#sertifikat div.sertifikat-detail div.detail img {
    /* width: 500px; */
    width: 100%;
    max-width: 500px;
    height: auto;
}

footer {
    padding: 2em;
}

footer div.row:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2em auto;
    padding: 2em 0;
    position: relative;
    background-color: var(--body-color);
}

footer div.row:first-child::before,
footer div.row:first-child::after {
    filter: blur(2px);
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
    background: linear-gradient(235deg, #43d8c9, #95389e);
}

footer div.icon {
    display: flex; 
    width: 100%; 
    justify-content: space-between; 
    margin: 3em auto;
}

footer div.icon img {
    background-color: white;
    border-radius: 40%;
    padding: .5em;
}

footer div.contact div.button {
    display: flex;
    justify-content: space-evenly;
    margin: 3em auto;
}

footer div.contact div.button a {
    color: white;
    text-decoration: none;
    padding: 1em;
    background-color:rgb(102, 99, 99);
    border-radius: 10px;
}

/* Reveal Element */
.reveal {
    transform-origin: left;
    transform: scaleX(0);
    transition: .5s;
    transition-delay: .5s;
}

.reveal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #43d8c9;
    transform-origin: right;
    transition: .5s;
    transition-delay: 0s;
}

.reveal.active {
    transform: scaleX(1);
    transition-delay: 0s;
}

.reveal.active::before {
    transform: scaleX(0);
    transition-delay: 0.5s;
}

/* Desktops, large screens */
@media (min-width: 1025px) {
    section#about div.about__content {
        grid-template-rows: 1fr auto;
        padding: 0 7em;
    }
}

/* Small screens, laptops */
/* @media (max-width: 900px) { */
@media (max-width: 1024px) {
    section#about div.about__content {
        grid-template-rows: 350px 1fr auto;
        padding: 0 3em;
    }

    section#about .profile__image {
        width: 300px;
    }

    section#about div.about__content div.image {
        grid-column: 1/ span 2;
        grid-row: 1/2;
    }

    section#about div.about__content div.description {
        grid-column: 1/ span 2;
        grid-row: 2/3;
    }
    
    section#about div.about__content div.education {
        margin-right: 1em;
    }

    footer h1 {
        font-size: 8em;
    }

}

/* Ipad, tablets  */
@media (max-width: 768px) {
    
    .custom-shape-divider-bottom-1608108536 svg {
        width: calc(100% + 1.3px);
        height: 136px;
    }

    .jumbotron {
        top: 30vh;
    }

    footer h1 {
        font-size: 5em;
    }
}

/** For mobile devices **/
@media (max-width: 480px) {

    .jumbotron {
        top: 30vh;
    }

    section#about div.about__content {
        grid-template-rows: 350px 1fr 1.3fr;
        padding: 0 1em;
    }

    section#about .profile__image {
        width: 300px;
    }

    section#about div.about__content div.education ul,
    section#about div.about__content div.experience ul {
        padding: .6em;
    }

    section#about div.about__content div.education,
    section#about div.about__content div.experience {
        grid-column: 1/span 2;
        margin-right: 0;
    }

    footer h1 {
        font-size: 4em;
    }
}